* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    flex-direction: column;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
    margin-left: auto;
    margin-right: 150px;
}

.nav {
    background-color: #1f2937;
    height: 50px;
    align-items: center;
}

.logo {
    padding-left: 150px;
}
