@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab';
}

.flex {
    display: flex;
}

body {
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
    margin-left: auto;
    margin-right: 250px;
}

.nav {
    background-color: #1f2937;
    height: 50px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 250px;
    color: #f9faf8;
}

.nav-link {
    font-size: 18px;
    color: #e5e7eb;
    padding: 0px 0px 0px 40px;
}

.container-one {
    background-color: #1f2937;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}

.title-card {
    margin-left: 250px;
    width: 500px;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    color: #e5e7eb;
    margin-top: 10px;
}

.sign-up {
    width: 100px;
    height: 28px;
    background-color: #3882f6;
    color: white;
    border: 0px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.image {
    width: 500px;
    background-color: #6d747d;
    color: #e5e7eb;
    margin-right: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-two {
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
}